@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,300,300italic,700,700italic,400italic');

/* blu #282658*/
body,html{margin:0;padding:0;height:100%}
body,html{font: 16px/24px 'Roboto Condensed','Helvetica', sans-serif;}
@media (max-width:640px){body,html{font: 14px/22px 'Roboto Condensed','Helvetica', sans-serif;}}
.site_wrapper{min-height:100%}

@media (min-width:768px){.site_wrapper{position: absolute; left: 50%; width: 900px; margin-left: -460px; padding: 5px 10px 10px;}}
@media (max-width:960px){.site_wrapper{width: 100%;padding-top:3px;margin-bottom: 35px}}
.site_container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:white; border-top: 1px solid #CCC;padding-top:10px;}}
@media (min-width:768px){.site_container{margin: 0 auto}}

.header{margin: 0px auto}
.header__left, .header__center, .header__right {padding-top:3px;padding-bottom:3px}
@media (min-width:768px){.header__left{float:left;width:280px;}}
@media (max-width:960px){.header__left{text-align:center}}
@media (min-width:768px){.header__center{float:left}}
@media (max-width:960px){.header__center{text-align:center}}
@media (min-width:768px){.header__right{float:right}}
@media (max-width:960px){.header__right{display:none}}
@media (max-width:640px){.iphone{display:block}}

.header__last{font-size: 14px; clear:both;color:#666;margin-bottom: 8px}
@media (min-width:768px){.header__last{text-align:right}}
@media (max-width:960px){.header__last{text-align:center}}

.sidebar__bottom{clear:both;background-color:#282658;font-size:1em;line-height:1.5em;text-align:center;font-variant:small-caps;font-weight:300;text-transform:lowercase;color:#fff;width:100%}
.sidebar__bottom a{color:#fff;text-decoration:none}
@media (min-width:768px){.sidebar__bottom{display:block}}
@media (max-width:960px){.sidebar__bottom{position: fixed;bottom: 0pt;left: 0pt;font-size:0.9em;}}
/* iphone */
@media (max-width:640px){.sidebar__bottom{position: fixed;bottom: 0pt;left: 0pt;font-size:0.8em;}}


/* menu */
.sidebar{clear:both;font-size:18px;font-family:'Roboto Condensed','Helvetica', sans-serif;color:#282658}
@media (min-width:768px){.sidebar{width:100%}.slicknav_menu {display:none;}.submenu{display:none}}
@media (max-width:960px){.sidebar{display:none}.js #menu {display:none;}.js .slicknav_menu {display:block;}}

.sidebar__link_list{margin: 0px 0px 0px 2px; padding: 0px; display: block;}
.sidebar__link_list ul {list-style: outside none none;}
@media (min-width:768px){.sidebar__link_list{}}
@media (max-width:960px){.sidebar__link_list{text-align:left}}
.sidebar__link_list li{padding:0px;}
@media (min-width:768px){.sidebar__link_list{}}
@media (max-width:960px){.sidebar__link_list{text-align:left; padding-bottom:0px; padding-top:0px}}

.sidebar__link_item{display:inline-block;padding-bottom:0;padding-top:0}
@media (min-width:768px){.sidebar__link_item{display:inline-block;margin-right:15px;color:#282658}}
@media (max-width:960px){.sidebar__link_item{width:100%;color:#fff;padding: 2px 4px;margin: 2px 5px;}}
.sidebar__link_item__name{font-family:'Roboto Condensed','Helvetica';font-size:1em;vertical-align:middle;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media (max-width:960px){.sidebar__link_item__name{padding: 2px 4px;margin: 2px 5px;display:inline-block}}
@media (min-width:768px){.sidebar__link_item__name{display:inline-block}}

.link_is_active{border-bottom: 1px solid #282658}

ul.active{margin-top: 0px; margin-bottom: 0px;}
.inactive{display: none;}
.active{text-align: center;}
@media (max-width:960px){.active{display:none;}}

.icon__link_list {margin: 0em;padding-left:0px;text-align: center}
.icon__link_list {box-sizing: border-box;list-style-type: none;}
.icon__link_item {display: inline-block;width: 50px;color: #fff;padding-top: -0.5em;font-size:18px;line-height:15px}
.icon__link_item_small {font-size:14px;padding-left:5px}
.icon__link_menu {text-align: center; width: 50px;color: #fff;padding-top: -0.5em;font-size:18px;line-height:15px}


.main__img{clear:both;text-align:center;}

.note {color: #aaa;text-align: center;padding-top: 5px;display: block}
.black{color:#000}
.blue{color: #282658;}
.back-blue{background-color: #282658; color: #fff;}
@media (max-width:960px){.note{font-size:0.8em}}
@media (min-width:768px){.note{font-size:1em}}

/* corsi */
.generic-page {margin: auto; padding-left: 5px; padding-right: 5px;}
.generic__title{font: bold 24px/28px "Roboto Condensed",sans-serif;text-align: center;margin: 5px;letter-spacing: 0.3em;text-align: center}
@media (max-width:960px){.generic-page{padding-bottom:10px;margin-bottom: 10px}}


/* calendar seminars */
.seminars-page {margin: auto;}
.seminar-list__title{font: bold 24px/28px "Roboto Condensed",sans-serif;
    text-align: center;margin: 5px;letter-spacing: 0.3em;
    text-align: center;}
.seminar-list__description{font-size: 1.1em;text-align: center}
@media (max-width:960px){.seminar-list__description{font-size: 0.9em}}
.calendar {margin: auto; padding-bottom: 15px}
.calendar__day{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
width:30px;height:30px;display:inline-block;
background-color:#ecf0f1;margin-right:2px;
font-variant:small-caps;font-weight:300;
    text-transform:lowercase;font-family:'Lato','Helvetica';
    text-align:center;font-size:.7em;
    line-height:3em;margin-top:2px}
.calendar__day_not_working{background-color:#b1c2c6}
.calendar__day_not_in_month{opacity:0}
.calendar__month{width:224px;vertical-align:top;margin-top: 10px;padding:15px}
@media (max-width:960px){.calendar__month{display:block}.seminar-list__title{font: bold 18px/24px "Roboto Condensed",sans-serif;text-align: center;margin: 15px;text-align: center;}}
@media (min-width:768px){.calendar__month{display:inline-block}}
@media (max-width:960px){.calendar__month{margin:auto}}
@media (min-width:768px){.calendar__month{margin-left:30px}}
.calendar__month_name{font-variant:small-caps;font-weight:400;text-transform:lowercase;font-family:'Roboto Condensed';text-align:center}
.calendar__category_seminar{color:#6B9ED8}
.calendar__category_seminar_past{color:#45C545}
.calendar__category_seminar_bk{background-color:#6B9ED8}
.calendar__category_seminar_bk_past{background-color:#45C545}
.calendar__tooltip{position:absolute;color:white;display:block;background-color:#A9A9DE;line-height:13px;border-radius:3px;opacity:0;padding:0.5em;padding-top:0em;padding-bottom:0em;font-size:1.1em;margin-right:.25em;margin-top: -1em}
/*.calendar__tooltip .calendar__tooltip__title{position:absolute;color:white;text-transform:lowercase;background-color:#2077D8;border-radius:5px;display:block;opacity:0;padding:1em;padding-top:.3em;padding-bottom:.3em;font-size:1em;margin-right:.5em}*/
.calendar__tooltip__title a{text-decoration: none; color: white;border-bottom: 1px solid white;}
.calendar__tooltip:hover {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* seminar list */
.seminarlist__month{clear: both;}
.seminarlist__month_name{font-variant:small-caps;font-weight:400;text-transform:lowercase;font-family:'Roboto Condensed';font-size:26px; text-align:center}
.seminarlist__event{height: 180px; display:block; width:93%;border: 1px solid #eee; padding: 5px; margin: 5px; border-radius: 4px}
.seminarlist__event_past{height: 180px; color: #bbb; display:block; width:93%;border: 1px solid #eee; padding: 5px; margin: 5px; border-radius: 4px}
@media (max-width:960px){.seminarlist__event {height: auto} .seminarlist__event_past {height: auto}}
.seminarlist__datebox{height: 180px; display:inline-block; float: left; text-align: center; padding-right: 10px}
@media (max-width:960px){.seminarlist__datebox {display: none}}
.seminarlist__description{display: inline-block;}
.seminarlist__type{font-weight: 300;}
.seminarlist__title{font-weight: 400; font-size: 22px}
.seminarlist__meta{font-weight: 300;}
.seminarlist__details{margin-top: 15px;color: #000; font-weight: 300;}
@media (max-width:960px){.seminarlist__details{margin-top: 10px;}}
.seminarlist__photobox{width: 180px; height: 180px; display:inline-block; float: right; text-align: center}
.seminarlist__photobox img {width: 140px; text-align: center; border-radius: 4px; border: 2px solid #aaa; margin: 5px; padding: 5px}
@media (max-width:960px){.seminarlist__photobox {display: none;}}
.seminarlist__photo{font-weight: 300;float: left}
.seminarlist__details a, .seminarlist__meta a {text-decoration: none; border: 0px; color: #000; font-weight: 300; }
.seminarlist__event_past a {color: #bbb;}
.seminarlist__event_evidence {height: 180px; display:block; width:93%;border: 2px solid  #282658; padding: 5px; margin: 5px; border-radius: 4px}
.seminarlist__event_past .seminarlist__details {color: #bbb;}

.ribbon {color: #A00; font-size: 24px; float: right;}

/* seminar details */
.post_container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;width:90%;max-width:800px;margin-left:auto;margin-right:auto;padding-top:2em;margin-bottom: 35px;}
@media (max-width:960px){.post_container{padding-top:5px;}}
.post_container__post__title{text-align:center;font-weight:400;border-bottom:1px rgba(94,121,128,0.2) solid;padding-bottom:.2em;line-height: 1.2em}
@media (max-width:960px){.post_container__post__title{font-size:1.5em;border:0px;margin-bottom: 8px}}
@media (min-width:768px){.post_container__post__title{font-size:1.8em}}
.post_container__divider{padding-right: 20px; padding-left: 20px;text-align:center;color:rgba(94,121,128,0.2)}
@media (min-width:768px){.post_container__divider{display: none}}

.post_container__post__date{display:inline-block;padding-right:.5em}
@media (max-width:960px){.post_container__post__date{font-size:.9rem;padding-right:0px}}
.post_container__post__category{padding-left:.5em;border-left:2px solid rgba(30,34,34,0.1);padding-right:.5em}
@media (max-width:960px){.post_container__post__category{display:block;border-left:0px;padding-left:0em}}
@media (min-width:768px){.post_container__post__category{display:inline-block}}
.post_container__post__pdf{padding-left:.5em;border-left:2px solid rgba(30,34,34,0.1);padding-right:.5em}
@media (max-width:960px){.post_container__post__pdf{display:block;border-left:0px;padding-left:0em}}
@media (min-width:768px){.post_container__post__pdf{display:inline-block}}
.post_container__post__tags{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:100%;padding-left:.5em;border-left:2px solid rgba(30,34,34,0.1);padding-right:.5em;vertical-align:bottom}
@media (max-width:960px){.post_container__post__tags{display:none}}
@media (min-width:768px){.post_container__post__tags{display:inline-block}}
.post_container__post__tag{display:inline-block;margin-left:.5em;background-color:#2077D8;font-size:.9em;padding-top:0;padding-bottom:0;padding-left:.4em;padding-right:.4em;border-radius:4px;line-height:1.1em;font-variant:small-caps;font-weight:500;text-transform:lowercase;color:white;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.post_container__post__date_value{margin-left:.5em;display:inline-block}
.post_container__post__category_value{margin-left:.5em;display:inline-block}
.post_container__post__pdf_value{margin-left:.5em;display:inline-block}


.seminar_data{margin-top:1em;margin-bottom:1em;font-size:1.3em;line-height:1.5em; display:block;float: left;}
@media (min-width:768px){.seminar_data{max-width: 690px}}

.seminar_data__detail{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block}
.seminar_data__key{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:25%;display:inline-block;color:#999;vertical-align:top}
.seminar_data__value{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:74%;font-size:.9em;display:inline-block;color:black;vertical-align:top}
@media (max-width:960px){.seminar_data__key{font-size:1em;width:100%}}
@media (max-width:960px){.seminar_data__value {font-size:1em;width:100%} .last{margin-bottom: 35px;}}

.seminar_ordinario{color: green;}
.seminar_nazionale{color: blue;}

/* schedule */
.schedule-page {margin: 0 auto;}
.schedule__title{font: bold 24px/38px "Roboto Condensed",sans-serif;
    text-align: center;margin: 5px;letter-spacing: 0.3em;
    text-align: center;}
.schedule__description{font-size: 1.1em;text-align: center}
.schedule{text-align: center}
@media (max-width:960px){.schedule__title{font-size: 20px; letter-spacing: 0.1em}.schedule__description{font-size: 0.9em}}

.timetable{border-bottom:1px solid #fff;}
table.timetable{width:95%;}
td.time{text-align:center;width:15%;}
td.instructor{width: 80px;text-align: center;}
@media (max-width:960px){td.instructor{width: 20px;}}

.traininghour{display: block; width: 100%}
div.time {display: inline-block;width: 50px;text-align: center}
div.instructor{display: inline-block;text-align: center; margin: 0 auto; width: 80%}
@media (max-width:960px){div.instructor{width: 85%;}}
@media (max-width:640px){div.instructor{width: 75%;}}

div.tagbox{width: 100px;height: 40px;border: 1px solid #000;margin: 5px; display: inline-block; text-align: center;padding-top: 15px;}
@media (max-width:960px){div.tagbox{font-size: 0.8em;width: 80px; height: 20px; padding-top: 2px}}

.class_spacer{width:100px; display: block;height: 8px;}
@media (max-width:960px){.class_spacer{height: 4px}}

.adulti{background-color: #E8E8E8;}
.principianti{background-color: #D0D0D0;}
.ragazzi{background-color: #999999;}
.bambini{background-color: #B0B0B0;}
.pre-aikido{background-color: #FEFEFE;}
.ken-jo{background-color: #808080; color: #fff;}
.yudansha{background-color: #2E2E2E;}
.libero{background-color: #ecf0f1;color:#000;}

@media(max-width:960px){
.timeh{width:15%;}
.dayh{width:10%;}
.adulti{background-color: #3498db; color:#fff;}
.principianti{background-color: #bdc3c7;color:#fff;}
.ragazzi{background-color: #d35400;color:#fff;}
.bambini{background-color: #e67e22;color:#fff;}
.pre-aikido{background-color: #f39c12;color:#fff;}
.ken-jo{background-color: #34495e; color: #fff;}
.yudansha{background-color: #2c3e50;color:#fff;}
.libero{background-color: #ecf0f1;color:#000;}
}

.noclasses{font-size:1.4em; color: #282658}
.holiday{color: #282658}
.legenda{padding:3px; font-size: 0.9em;text-align: left; border-top: 1px solid #ddd; margin-top: 15px;}
.tsmall{font-size: 0.8em; line-height: 0.8em;}
.emp{font-variant: italic}
.noprint{color: #fff;}
.indent{padding-left: 10px}
@media(max-width:960px){
  .indent{padding-left: 5px}
}

/* news */
.piecenews {
    display: block;
    width: 95%;
    border: 1px solid #EEE;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.piecenews p {margin-top: 0; margin-bottom: 0}

/* mix */
ul.bullet {
    list-style-type: none;
    margin: 1em 0px;
    padding: 0px;
}
@media (max-width:960px){ul.bullet{ margin-top: 0.5em;}}

ul.bullet li:first-child {
    margin-top: -1em;
}
ul.bullet li {
    padding-left: 1em;
    text-indent: -1em;
}
ul.bullet li:before {
    content: "\25B9";
    padding-right: 5px;
}

ul.weblinks {
    list-style-type: none;
    margin: 1em 0px;
    padding: 0px;
}
ul.weblinks li:first-child {
    margin-top: -1em;
}
ul.weblinks li {
    padding-left: 1em;
}
ul.weblinks li:before {
  font-family: 'FontAwesome';
  content: "\f0c1";
  padding-right: 5px;
}

.question{font: bold 16px/20px "Roboto Condensed",sans-serif;}
.answer{margin-top: -0.5em;}

@media (max-width:640px){.miniature{display: none;}}
@media (max-width:960px){.miniature{display: none;}}
@media (min-width:768px){.miniature{float: right;}}

h1, h2, h3, h4 {margin-bottom: 0px;}
.fullwidth{display: block;width:100%;}
.w70{width: 70%}
.w60{width: 60%}
.w50{width: 50%}
.top10{padding-top: 8px;}
.notebox {margin: 5px;}
.sc{text-transform: uppercase; font-variant:small-caps;}
.disable {color: #bbb;}
@media (max-width:960px){.notebox{margin-bottom:0;margin-top:0;}.w70,.w60,.w50{width: 95%}}

.fright {float:right;}
.fleft {float: left;}
.acenter{text-align: center}
.noborder {border: 0px;}
a.noborder  {border-bottom: 0px;text-decoration: none}

@media (min-width:769px){.mobile{display:none}}
@media (max-width:960px){.nomobile{display:none}}

a.main_link{text-decoration: none;color: #fff;border: 0}

img {max-width: 100%;}
